<section class="section-gray card collapsible">
    <h2 class="collapsible-trigger">
      {% if page.lang == "en" %}
      Original Articles
      {% else %}
      原著論文
      {% endif %}
      <span class="arrow-icon">▼</span>
    </h2>
    <div class="content">
      <ol>
            {% for paper in site.data.publications %}
            <li class="paper">
                {% if paper.type == "Preprint" %}
                (Preprint)
                {% endif %}
                {% assign highlighted_authors = paper.authors | replace: "Harada K", "<strong>Harada K</strong>" %}
                {% assign highlighted_authors = highlighted_authors | replace: "(*co-correspondence)", "<strong>(*co-correspondence)</strong>" %}
                {{ highlighted_authors }}. 
                {{ paper.title }}. 
                <em>{{ paper.journal }}</em>. 
                {{ paper.year }}.
                doi: <a href="{{ paper.url }}">{{ paper.doi }}</a>.
            </li>
            {% endfor %}
        </ol>
    </div>
</section>
